
body{
    background-color: rgba(48, 212, 117, 0.87);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
}

h1{
    color:rgb(83, 74, 18);
    margin-left: 25%;
    margin-right: 25%;  /*25% of parent length from the parent margin-right*/
    margin-bottom: 0%;
    margin-top: 0%;
    text-align: center;
    background-color: rgb(206, 255, 116);
}

div{
    margin-left: 25%;
    margin-right: 25%;
    background-color: hsla(179, 100%, 50%, 1);
    height: 500px;
}

p{
    width: 50%;
    height: 50%;
    border-width: 3px;
    border-color: rgb(100, 189, 140);
    border-style: solid;
    overflow: scroll;
    margin: auto;
    background-color: hsla(221, 41%, 65%, 0.959);
}

span{
    text-indent: 1px;
    margin:0;
    color: red;
    background-color: blueviolet;
}

#content+div{
    background-color: orange;
}

#content+div>div{
    background-color: yellowgreen;
}

ul{
    display: table;
    list-style:square;
    background-color: rgb(162, 250, 74);
    padding-left:0;
    margin:0;
    text-align: center;
}

li{
    display:inline-block;
    margin: 10px 5px 0px 5px;
    font-weight: bold;
}

/*basically does nothing when the li display is not list-item*/
li::marker{
    display: block;
}