h1{
    background-color: rgb(58, 58, 58);
    color:rgb(189, 189, 189);
    font-family: Verdana;
    opacity: 0.2;
}


div{
    font-family:Arial;
    font-weight:100;
    font-stretch:condensed;
}

div.greater > p{
    background-color: blue;
}

#seven{
    background-color: hsla(120, 70%, 50%, 1);
    font-family: Arial;
}

div.less > p{
    background-color:red;
}

p{
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 11px;
}

body{
    margin: 0px;
    background-color:rgb(189, 189, 189);
    padding-right: 40%;
    padding-left:40%;
}

#fourteen{background-color: hsla(0, 100%, 50%, 0.5)}
#thirteen{background-color: hsla(0, 95%, 50%, 0.58)}
#twelve{background-color: hsla(0, 90%, 50%, 0.67)}
#eleven{background-color: hsla(0, 85%, 50%, 0.75)}
#ten{background-color: hsla(0, 80%, 50%, 0.83)}
#nine{background-color: hsla(0, 75%, 50%, 0.92)}
#eight{background-color: hsla(0, 70%, 50%, 1)}
#six{background-color: hsla(240, 70%, 50%, 1)}
#five{background-color: hsla(240, 75%, 50%, 0.92)}
#four{background-color: hsla(240, 80%, 50%, 0.83)}
#three{background-color: hsla(240, 85%, 50%, 0.75)}
#two{background-color: hsla(240, 90%, 50%, 0.67)}
#one{background-color: hsla(240, 95%, 50%, 0.58)}
#zero{background-color: hsla(240, 100%, 50%, 0.5)}

#scale{
    background-color: rgb(0, 0, 0);
}



