body{
    background-color:rgb(75, 231, 135);
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

header{
    height: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2{
    margin: 0;
}


#images{
    margin: 7% 0;
}

section{
    height: 800px;
    margin: 0 20%;
}

footer{
    height: 75px;
    background-color: hsla(187, 100%, 50%, 1);
    color:rgb(45, 45, 45)
}

ul{
    height: 50px;
    background-color: rgb(204, 204, 204);
    border: solid black;
    border-width: 2px 0;
    box-shadow: 0 -2px 1px #444444;
    display: block;
    padding: 0;
    padding-top: 35px;
    text-align: left;
}

li{
    margin: 2em;
    display: inline;
}

#home{
    margin-left: 28em;
}

li:hover{
    font-style: oblique;
    text-shadow: 1px 1px beige;
}

img{
    height: 100%;
    width:33%;
}

p{
    font-family: monospace;
    text-transform: capitalize;
    margin: 7% 0;
}


